.sidebarChat {
    display: flex;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 11px;
    cursor: pointer;
    border-bottom: 2px solid #f6f6f6;
}

.sidebarChat:hover {
    background-color: #ebebeb;
}


.sidebarChat__info {
    font-size: 18px;
    font-weight: 400;
    margin-left: 18px;
    color: rgb(45, 45, 45);
}


.sidebarChat__info_p {
    margin-left: 18px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 3px;
    color: rgb(90, 89, 89);
}