.sidebarChat {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarChat:hover {
    background-color: #f5f5f5;
}

.sidebarChat__avatar {
    width: 55px;
    height: 55px;
    margin-right: 15px;
}

.sidebarChat__details {
    flex: 1;
    overflow: hidden;
}

.sidebarChat__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebarChat__name {
    font-size: 16px;
    font-weight: 500;

}

.sidebarChat__timestamp {
    font-size: 12px;
    color: gray;
}

.sidebarChat__message {
    font-size: 14px;
    color: #707070;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebarChat__startChatButton {
    background-color: #159e8e;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebarChat__startChatButton:hover {
    background-color: #075e54;
}

.sidebarChat__startChatButton:focus {
    outline: none;
}

.sidebarChat__startChatButton:active {
    transform: translateY(1px);
}

.sidebarChat__avatar--online {
    position: absolute;
}

.sidebarChat__avatar--online::after {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 0px;
    width: 10px;
    height: 10px;
    background-color: rgb(5, 236, 5);
    border-radius: 50%;
}

.sidebarChat__avatar--offline {
    position: absolute;
}

.sidebarChat__avatar--offline::after {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 0px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 234, 3);
    border-radius: 50%;
}